.form-container {
    max-width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.form {
    width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-control {
        width: 40rem;
        height: 4rem;
        position: relative;
        margin-bottom: 1rem;
        padding: 5px;
        margin: 0;
        &--area {
            height: 7rem;
        }
    }
    &-control-wrapper {
        position: relative;
    }
    &-btn {
        display: inline-block;
        width: 100%;
        height: 4rem;
        margin-top: 2rem;
        color: white;
        border: none;
        background: #ec5990;
        cursor: pointer;
    }
    &-title {
        color: white;
    }
}
.custom-select {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        box-shadow: 1px 1px 18px 3px rgb(231, 215, 215);
    }
    &-leftPart {
        flex: 0 0 20%;
        max-width: 20%;
    }
    &-rightPart {
        flex: 0 0 80%;
        max-width: 80%;
    }
    &-img {
        width: 100%;
        max-width: 100%;
        height: 5rem;
        object-fit: cover;
    }
    &-box {
        width: 40rem;
        margin: 0 auto;
        height: 5rem;
        border: 1px solid;
        cursor: pointer;
        position: relative;
        background: white;
    }
    &-placeholder {
        font-size: 1.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding: 1rem;
    }
    &-wrapper {
        display: block;
        height: 300px;
       overflow-y: scroll;
       position: absolute;
       z-index: 12;
       background: beige;
    }
    &-arrow--down {
        position: absolute;
        top: 18px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid black;
    }
    &-arrow--up {
        position: absolute;
        top: 18px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid black;
    }
}

.form-control + p {
    margin: 0;
    height: 2rem;
    width: 100%;
    color: white;
    background-color: rgba(206, 26, 26, 0.664);
}
.post-select {
    display: block;
    font-family: sans-serif;
    font-weight: 700;
    color: $color-grey-dark;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 30%;
    max-width: 100%; 
    margin: 0 auto;
    border: 1px solid $color-primary-light;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $color-primary-light;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
