.form-container {
    max-width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.form {
    width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-control {
        width: 40rem;
        height: 4rem;
        position: relative;
        margin-bottom: 1rem;
        padding: 5px;
        margin: 0;
        &--area {
            height: 7rem;
        }
    }
    &-control-wrapper {
        position: relative;
    }
    &-btn {
        display: inline-block;
        width: 100%;
        height: 4rem;
        margin-top: 2rem;
        color: white;
        border: none;
        background: #ec5990;
        cursor: pointer;
    }
    &-title {
        color: white;
    }
}
.custom-select {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        box-shadow: 1px 1px 18px 3px rgb(231, 215, 215);
    }
    &-leftPart {
        flex: 0 0 20%;
        max-width: 20%;
    }
    &-rightPart {
        flex: 0 0 80%;
        max-width: 80%;
    }
    &-img {
        width: 100%;
        max-width: 100%;
        height: 5rem;
        object-fit: cover;
    }
    &-box {
        width: 40rem;
        margin: 0 auto;
        height: 5rem;
        border: 1px solid;
        cursor: pointer;
        position: relative;
        background: white;
    }
    &-placeholder {
        font-size: 1.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding: 1rem;
    }
    &-wrapper {
        display: block;
        height: 300px;
       overflow-y: scroll;
       position: absolute;
       z-index: 12;
       background: beige;
    }
    &-arrow--down {
        position: absolute;
        top: 18px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid black;
    }
    &-arrow--up {
        position: absolute;
        top: 18px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid black;
    }
}

.form-control + p {
    margin: 0;
    height: 2rem;
    width: 100%;
    color: white;
    background-color: rgba(206, 26, 26, 0.664);
}
