.main-container {
    max-width: $main-container;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    text-align: center;
    
}
.logo-wrapper {
    margin-bottom: 3rem;
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}
.content-wrapper {
    margin-top: 10rem;
    display: flex;
}
.posts {
    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 300px;
        @include respond(tab-port) {
            max-width: 50%;
            flex: 0 0 50%;
        }
        max-width: 40%;
        flex:  0 0 40%;
        padding: 10px;
    }
    &-title {
        width: 100%;
        height: 3rem;
        border-bottom: 1px solid $color-grey-dark;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        margin-right: 1rem;
    }

}
.articles {
    &-wrapper {
        display: flex;
        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
            max-height: 50%;
            flex: 0 0 50%;
            min-width: unset;
        }
        min-width: 300px;
        flex-direction: row;
        justify-content: space-between;
        max-width: 60%;
        flex: 0 0 60%;
        padding: 10px;
        height: 100%;
        flex-wrap: wrap;
    }
    &-title {
        width: 100%;
        height: 3rem;
        border-bottom: 1px solid $color-grey-dark;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

}