.main-container {
    max-width: $main-container;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}
.content-wrapper {
    margin-top: 100px;
    display: flex;
}
.posts-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    flex:  0 0 50%;
    border: 1px solid black;
    padding: 10px;
}
.articles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    flex: 0 0 50%;
    border: 1px solid black;
    padding: 10px;
    height: 100%;
    flex-wrap: wrap;
}